<table class="table">
  <thead>
    <tr>
      <th scope="col">Verify</th>
      <th scope="col" data-sortable="true">Last Check</th>
      <th scope="col" data-sortable="true">Status</th>
      <th scope="col" data-sortable="true">Status Code</th>
      <th scope="col" data-sortable="true">Grant</th>
      <th scope="col" data-sortable="true">Resource Name</th>
    </tr>
  </thead>
  <% @statuses.each do |status| %>
    <tr>
      <td><%= link_to 'Run Check', resource_run_check_path(status.resource.grant, status.resource), class: 'btn btn-primary' %></td>
      <td><%= status.created_at %></td>
      <td><%= status.response_code %></td>
      <td><%= status.status %></td>
      <td><%= link_to status.resource.grant.title, status.resource.grant %></td>
      <td><%= link_to status.resource.access_filename, status.resource %></td>
    </tr>
  <% end %>
</table>
